<div>
  <img src="./assets/images/Frame1.png"  class="conborde" >
</div>
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Marca</th>
          <th>Linea</th>
          <th>Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehiculos">
          <td class="bold">
            <dd>{{ v.id }}</dd>
          </td>
          <td>
            <dd>{{ v.marca }}</dd>
          </td>
          <td>
            <dd>{{ v.linea }}</dd>
          </td>
          <td>
            <dd>{{ v.modelo }}</dd>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngFor="let m of marcas">
        <p>Total {{ m.marca }} : {{ m.cantidad }}</p>
    </div>
  </div>
</div>

<footer class="textcenter">
  Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo
</footer>

